:root {
  --primary-color: #f7c7a1;
  --secondary-color: #e59b7b;
}

body {
  text-align: center;
  background-image: linear-gradient(to right, var(--primary-color), var(--secondary-color));
}

h1 {
  font-size: 5rem;
  color: #4ECCA3;
  font-family: "Arvo", cursive;
  text-shadow: 3px 0 #DA0463;

}

footer {
  color: #DA0463;
  font-family: sans-serif;
  font-size: 1.3rem;
}

.w {
  background: url('images/tom1.png');
}

.a {
  background: url('images/tom2.png');
}

.s {
  background: url('images/tom3.png');
}

.d {
  background: url('images/tom4.png');
}

.j {
  background: url('images/snare.png');
}

.k {
  background: url('images/crash.png');
}

.l {
  background: url('images/kick.png');
}

.set {
  margin: 10% auto;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.pressed {
  box-shadow: 0 3px 4px 0 #DBEDF3;
  opacity: 0.5;
}

.red {
  color: red;
}

.drum {
  outline: none;
  border: 10px solid #404B69;
  font-size: 5rem;
  font-family: 'Arvo', cursive;
  line-height: 2;
  font-weight: 900;
  color: #DA0463;
  text-shadow: 3px 0 #DBEDF3;
  border-radius: 15px;
  display: inline-block;
  width: 150px;
  height: 150px;
  text-align: center;
  margin: 10px;
  background-color: white;
}

a {
  color: #5ba37f;
  font-family: sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  margin: 5px;
  margin-left: 5px;
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}

a:visited{
  color: #5ba37f;
}